Repository eidhisham5-max/hn-laptop-store, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hnlaptopstore/owners, @hnlaptopstore/core-team, @hnlaptopstore/design-team, @hnlaptopstore/admin-team, @hnlaptopstore/security-team, @hnlaptopstore/devops-team, @hnlaptopstore/docs-team

.github/CODEOWNERS:

# Global owners
* @hnlaptopstore/owners

# Core application files
/app/ @hnlaptopstore/core-team
/components/ @hnlaptopstore/core-team
/lib/ @hnlaptopstore/core-team

# UI Components
/components/ui/ @hnlaptopstore/design-team

# Admin dashboard
/app/admin/ @hnlaptopstore/admin-team
/components/admin/ @hnlaptopstore/admin-team

# Authentication
/app/auth/ @hnlaptopstore/security-team

# Configuration files
*.config.js @hnlaptopstore/devops-team
*.config.ts @hnlaptopstore/devops-team
package.json @hnlaptopstore/devops-team
tsconfig.json @hnlaptopstore/devops-team

# Documentation
*.md @hnlaptopstore/docs-team
/docs/ @hnlaptopstore/docs-team

# GitHub workflows
/.github/ @hnlaptopstore/devops-team

# Security
SECURITY.md @hnlaptopstore/security-team
.github/SECURITY.md @hnlaptopstore/security-team

# Dependencies
package-lock.json @hnlaptopstore/devops-team
yarn.lock @hnlaptopstore/devops-team

Refactor: Improve middleware, UI components, and config
  app/api/middleware.ts
  app/cart/page.tsx
  app/cart/success/page.tsx
  app/components/ui/Badge.tsx
  app/components/ui/Input.tsx
  app/components/ui/ProductCard.tsx
  app/components/ui/Select.tsx
  eslint.config.js
  package.json
  tailwind.config.js
Owners: @hnlaptopstore/core-team, @hnlaptopstore/devops-team

Refactor: Add CI workflow and update deploy workflow
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Owners: @hnlaptopstore/devops-team

Checkpoint before follow-up message
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  next-env.d.ts
Owners: @hnlaptopstore/devops-team, @hnlaptopstore/owners

Refactor ramp up schedule and add route types
  ab_test_spec.yaml
  next-env.d.ts
Owners: @hnlaptopstore/owners

Refactor: Update UI colors, middleware, and Next.js config
  app/admin/page.tsx
  app/api/middleware.ts
  app/cart/page.tsx
  app/cart/success/page.tsx
  app/components/layout/Header.tsx
  app/components/products/ProductGrid.tsx
  app/components/ui/Input.tsx
  app/components/ui/Select.tsx
  app/products/[id]/page.tsx
  next.config.js
Owners: @hnlaptopstore/admin-team, @hnlaptopstore/core-team, @hnlaptopstore/devops-team

Refactor: Update Next.js config and ESLint setup
  eslint.config.js
  next.config.cjs
  next.config.mjs
  tsconfig.json
Owners: @hnlaptopstore/devops-team, @hnlaptopstore/owners

Refactor: Use const for filtered products variable
  app/products/page.tsx
Owners: @hnlaptopstore/core-team

Refactor: Remove unused imports and simplify error handling
  app/account/page.tsx
  app/admin/analytics/page.tsx
  app/admin/products/[id]/page.tsx
  app/admin/products/page.tsx
  app/api/health/route.ts
  app/api/paymob/init/route.ts
  app/api/paymob/webhook/route.ts
  app/brands/[brand]/page.tsx
  app/cart/page.tsx
  app/components/AdminGuard.tsx
  app/components/Header.tsx
  app/components/layout/Header.tsx
  app/components/products/ProductFilters.tsx
  app/components/products/ProductGallery.tsx
  app/data/db.ts
  app/login/page.tsx
  app/orders/page.tsx
  app/page.tsx
  app/payment/page.tsx
  app/products/[id]/page.tsx
  app/products/page.tsx
  package.json
  tailwind.config.js
Owners: @hnlaptopstore/core-team, @hnlaptopstore/admin-team, @hnlaptopstore/devops-team

feat: Add stable version documentation
  STABLE_VERSION_README.md
Owners: @hnlaptopstore/docs-team

Refactor: Improve middleware, UI components, and Supabase config
  app/api/middleware.ts
  app/cart/page.tsx
  app/cart/success/page.tsx
  app/components/products/ProductGrid.tsx
  app/components/ui/Badge.tsx
  app/components/ui/Input.tsx
  app/components/ui/ProductCard.tsx
  app/components/ui/Select.tsx
  app/products/page.tsx
  eslint.config.js
  supabaseClient.js
Owners: @hnlaptopstore/core-team, @hnlaptopstore/devops-team, @hnlaptopstore/owners

feat: Configure Next.js for image optimization and security
  next.config.js
  package.json
Owners: @hnlaptopstore/devops-team

Refactor: Update next.config.js and tsconfig.json
  next.config.js
  tsconfig.json
Owners: @hnlaptopstore/devops-team

Remove turbopack and configure webpack watch options
  next.config.js
  package.json
Owners: @hnlaptopstore/devops-team

Refactor: Update PostCSS and Tailwind config to ESM
  postcss.config.js
  postcss.config.js.bak
  postcss.config.mjs
  tailwind.config.js
Owners: @hnlaptopstore/devops-team, @hnlaptopstore/owners

Add 404 page and update dependencies
  app/not-found.tsx
  package-lock.json
  package.json
  tailwind.config.js
Owners: @hnlaptopstore/core-team, @hnlaptopstore/devops-team

Checkpoint before follow-up message
  app/page.tsx
  app/test-page.tsx
Owners: @hnlaptopstore/core-team

Checkpoint before follow-up message
  app/globals.css
  postcss.config.js
Owners: @hnlaptopstore/core-team, @hnlaptopstore/devops-team

Refactor: Improve homepage UI and component structure
  app/components/products/ProductGrid.tsx
  app/components/ui/EmptyProducts.tsx
  app/components/ui/SkeletonCard.tsx
  app/globals.css
  app/page.tsx
  postcss.config.js
Owners: @hnlaptopstore/core-team, @hnlaptopstore/devops-team

Fix: Resolve webpack cache issues and update page content
  app/page.tsx
  next.config.js
Owners: @hnlaptopstore/core-team, @hnlaptopstore/devops-team

Refactor: Update UI colors, middleware, and product data structure
  app/admin/page.tsx
  app/api/middleware.ts
  app/cart/page.tsx
  app/cart/success/page.tsx
  app/components/layout/Header.tsx
  app/components/products/ProductGrid.tsx
  app/components/ui/Input.tsx
  app/components/ui/ProductCard.tsx
  app/components/ui/Select.tsx
  app/page.tsx
  app/products/[id]/page.tsx
Owners: @hnlaptopstore/admin-team, @hnlaptopstore/core-team
